---
layout: default
---

<ul class="box-list">
  {% for p in site.pages %}
    {% if p.title %}
    <li class="box{% for c in p.categories %}{{ c | prepend: ' category-' }}{% endfor %}">
      <header>
        <h2>
          <a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title | escape }}</a>
        </h2>
        <nav class="links">
          <a href="{{ p.repo | prepend: 'https://github.com/stodevx/' }}">code</a>
          {% if p.has-page == true %}
            <a href="{{ p.repo | prepend: 'https://stodevx.github.io/' }}">site</a>
          {% endif %}
        </nav>
      </header>
      <div class="content">
        {{ p.content }}
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>
