---
layout: default
---

<ul class="box-list">
  {% for p in site.pages %}
    {% if p.title %}
    <li class="box{% for c in p.categories %}{{ c | prepend: ' category-' }}{% endfor %}">
      <header>
        <h2>
          <a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title | escape }}</a>
        </h2>
        <nav class="links">
          <a href="{{ p.repo | prepend: 'https://github.com/stodevx/' }}">code</a>
          {% if p.has-page %}
            {% if p.page %}
            <a href="{{ p.page }}">
            {% else %}
            <a href="{{ p.repo | prepend: 'https://stodevx.github.io/' }}">
            {% endif %}
            site
            </a>
          {% endif %}
        </nav>
      </header>
      <nav class="categories">
        {% for c in p.categories %}
        <span class="category-tag">{{ c }}</span>
        {% endfor %}
        {% if p.language %}
        <span class="language">{{ p.language }}</span>
        {% endif %}
      </nav>
      <div class="content">
        {{ p.content }}
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>
